

body {
    background-color: black;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-container {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 0px;
    background-color: antiquewhite;
    border-radius: 20px;
}

.button-container1 {
    margin-top: 10px;
    text-align: center;
    margin-right:50px;
    flex-direction: column;
}

.button-container2 {
    margin-top: 10px;
    margin-right: 140px;
    text-align: center;
    flex-direction: column;
    justify-content:center; 
}

.clock-numbers {
    font-size: xx-large;
    font-weight: bolder;
    font-family: fantasy;
    margin-left: 50px;
}

.copyright {
    color: white;
}

.cycle-text {
    padding-right: 10px;
}

.timer-text {
    padding-right: 10px;
}

.current-task {
    color: green
}

.current-task-questioned {
    color: red
}